:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  border: 1px solid red;
  width: 35%;

  .left-sec {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(
      to bottom,
      var(--light-slate-blue),
      var(--light-royal-blue)
    );
    color: var(--white);
    border-radius: 30px;

    .your-result,
    .second-span {
      color: var(--light-lavender);
    }

    .your-result {
      margin-top: 30px;
    }

    .rounded {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      padding: 60px;
      margin: 30px 0;
      text-align: center;
      background-image: linear-gradient(
        to top,
        var(--persian-blue),
        var(--violet-blue)
      );

      .first-span {
        font-size: 60px;
        font-weight: 800;
      }
    }

    .great {
      margin-bottom: 10px;
    }

    .long-p {
      width: 75%;
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .right-sec {
    width: 50%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 20px 32px 70px 0px rgba(0, 0, 0, 0.1);
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    .row1,
    .row2,
    .row3,
    .row4 {
      border: 1px solid black;
      width: 80%;
      margin: 25px auto;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
