:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  width: 35%;
}
.card .left-sec {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
  color: var(--white);
  border-radius: 30px;
}
.card .left-sec .your-result,
.card .left-sec .second-span,
.card .left-sec .long-p {
  color: var(--light-lavender);
}
.card .left-sec .your-result {
  margin-top: 30px;
  font-size: 19px;
  font-weight: 700;
}
.card .left-sec .rounded {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 50px;
  margin: 30px 0;
  text-align: center;
  background-image: linear-gradient(to top, var(--persian-blue), var(--violet-blue));
}
.card .left-sec .rounded .first-span {
  font-size: 60px;
  font-weight: 800;
}
.card .left-sec .great {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
}
.card .left-sec .long-p {
  width: 75%;
  text-align: center;
  margin-bottom: 50px;
}
.card .right-sec {
  width: 50%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 20px 32px 70px 0px rgba(0, 0, 0, 0.1);
}
.card .right-sec p,
.card .right-sec .row1,
.card .right-sec .row2,
.card .right-sec .row3,
.card .right-sec .row4,
.card .right-sec button {
  border-radius: 7px;
  width: 80%;
  margin: 25px auto;
  padding: 13px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .right-sec p {
  padding: 0;
  border: none;
  color: var(--dark-gray-blue);
  font-weight: 700;
  font-size: 20px;
}
.card .right-sec .row1 {
  color: var(--light-red);
  background-color: hsla(0, 100%, 67%, 0.1);
}
.card .right-sec .row2 {
  color: var(--orangey-yellow);
  background-color: hsla(39, 100%, 56%, 0.1);
}
.card .right-sec .row3 {
  color: var(--green-teal);
  background-color: hsla(166, 100%, 37%, 0.1);
}
.card .right-sec .row4 {
  color: var(--cobalt-blue);
  background-color: hsla(234, 85%, 45%, 0.1);
}
.card .right-sec .left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}
.card .right-sec .right {
  color: black;
  font-weight: 700;
}
.card .right-sec .right span {
  color: gray;
}
.card .right-sec button {
  margin-top: 50px;
  padding: 15px 3px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  background-color: var(--dark-gray-blue);
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: none;
  transition: all 0.3s;
}
.card .right-sec button:hover {
  background-image: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
  border: none;
}

@media screen and (max-width: 1450px) {
  .card {
    width: 100%;
    justify-content: center;
  }
  .card .left-sec,
  .card .right-sec {
    width: 30%;
  }
}
@media screen and (max-width: 963px) {
  .card .left-sec,
  .card .right-sec {
    width: 40%;
  }
}
@media screen and (max-width: 645px) {
  .card .left-sec,
  .card .right-sec {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  .card {
    flex-grow: 1;
    flex-wrap: wrap;
  }
  .card .left-sec,
  .card .right-sec {
    width: 100%;
  }
  .card .left-sec .your-result {
    margin-top: 100px;
  }
  .card .left-sec .rounded {
    height: 150px;
    width: 150px;
    padding: 30px;
  }
}
@media screen and (max-width: 375px) {
  .card .left-sec .your-result {
    margin-top: 250px;
  }
}/*# sourceMappingURL=style.css.map */